@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Formulario (post)</h1>
<form method="post">
   @Html.AntiForgeryToken()
    Usuario:<input type="text" name="Usuario" value="" /><br/>
    Clave:<input type="password" name="Clave" value="" /><br/>
    <input type="submit" value="Enviar" />

</form>
